<div>
  <mat-toolbar color="primary">
    <div class="navbar-row">
      <span class="navbar-logo">
        <strong>Pay</strong>Friends
      </span>
      <span class="flex-spacer"></span>
      <span class="avatar"></span>
    </div>
  </mat-toolbar>

  <main class="page-container">
    <header class="header-row">
      <h2 class="page-title">Meus pagamentos</h2>
      <button mat-flat-button class="add-payment-button" color="primary">
        <!-- improve accessibility by using `text-transform: uppercase;`... -->
        <!-- ...in CSS, so screen readers won't spell it (pronounce letter by letter) -->
        Adicionar pagamento
      </button>
    </header>

    <section>
      <app-payments-table [payments]="payments"></app-payments-table>
    </section>
  </main>

</div>
