
@use '~@angular/material' as mat;
@use "sass:map";

@include mat.core();

$custom-blue-palette: (
  50: #E2F1FF,
  100: #B9DCFF,
  200: #8AC6FF,
  300: #56B0FF,
  400: #279EFF,
  500: #008EFF,
  600: #007DFE,
  700: #146CEA,
  800: #1B5AD7,
  900: #002D69,
  A100: #FFFFFF,
  A200: #F5F5F5,
  A400: #F2F2F2,
  A700: #333333,
  contrast: (
    600: #FFFFFF,
    900: #F8F8F8,
    A100: #313131,
    A200: #323232,
    A400: #333333,
    A700: #343434
  )
);

$picpay-desafio-frontend-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette($custom-blue-palette, 600, 300, 900),
    accent: mat.define-palette($custom-blue-palette, A400, A100, A700),
    warn: mat.define-palette(mat.$red-palette),
  )
));

// @include mat.all-component-themes($picpay-desafio-frontend-theme);
@include mat.button-theme($picpay-desafio-frontend-theme);
@include mat.table-theme($picpay-desafio-frontend-theme);
@include mat.toolbar-theme(map.merge(
  $picpay-desafio-frontend-theme,
  (
    color: map.merge(
      map.get($picpay-desafio-frontend-theme, color),
      (primary: mat.define-palette($custom-blue-palette, 900))
    )
  )
));

* {
  box-sizing: border-box;
}

html,
body {
  background-color: map.get($custom-blue-palette, A400);
  color: map.get($custom-blue-palette, A700);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.flex-spacer {
  flex: 1 1 auto;
}
